<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form to get data</title>
  </head>
  <body>
    <main>
      <section>
        <form action="/user" method="POST">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter the name here"
          />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Enter the email here"
          />
          <input
          type="number"
          name="age"
          id="age"
          placeholder="Enter the age here"
        />
          <input
          type="text"
          name="address"
          id="address"
          placeholder="Enter the address here"
        />
          <input
            type="text"
            name="bio"
            id="bio"
            placeholder="Enter the bio here"
          />
          <input
          type="text"
          name="hobby"
          id="hobby"
          placeholder="Enter your hobby here"
        />
          <input type="submit" value="submit" />
        </form>
      </section>
    </main>
  </body>
</html>

